@import "../config.css";

#repository-name {
    padding: .6em .8em;

    background: var(--solid-light);
    border: 1px solid var(--grey-mid);
    border-radius: 4px 4px 0 0;

    display: block;

    font-family: Roboto, sans-serif;
    font-size: 1.2em;
    font-weight: bold;

    color: black;
    text-decoration: none;
}

#buttons {
    background: var(--solid-light);
    border: 1px solid var(--grey-mid);
    border-top: none;
    border-radius: 0 0 4px 4px;

    .repo-button {
        display: inline-block;
        padding: .6em .8em;
        border-radius: 1px solid var(--grey-mid);

        color: var(--solid-dark);
        text-decoration: none;

        cursor: pointer;

        &:first-child {
            border-bottom-left-radius: 3px;
        }

        &:hover {
            background: var(--grey-xlight);
        }
    }

    #repository-clone-url {
        display: inline-block;
        font-size: .7em;
        margin: .65em .65em 0 0;
        float: right;
    }
}

#contents {
    margin-top: 2em;

    border: 1px solid var(--grey-mid);
    border-radius: 4px;

    background: var(--solid-light);

    .contents-section {
        border: none;
        background: transparent;
        border-bottom: 1px solid var(--grey-mid);
        width: 100%;

        &:not(.no-padding) {
            padding: .6em .8em;
            width: calc(100% - 1.6em);
        }

        &:last-child {
            border-bottom: none;
        }

        .filename {
            font-weight: bold;
            text-decoration: none;

            &:not(.no-link) {
                color: var(--colour-dark);

                &:hover {
                    color: var(--colour);
                    text-decoration: underline;
                }
            }
        }

        .file-size {
            float: right;

            font-family: "Ubuntu Mono", sans-serif;
        }

        .commit {
            float: right;

            color: black;
            text-decoration: none;

            .commit-name:after {
                content: " (";
            }

            .commit-time {
                &:before {
                    content: ", ";
                }

                &:after {
                    content: ")";
                }
            }

            .commit-id {
                font-family: "Ubuntu Mono", sans-serif;
            }

            &:hover {
                .commit-id {
                    color: var(--colour);
                    text-decoration: underline;
                }
            }
        }
    }
}